{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Add post
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Add blog post</h4>
    <div id="parent" class="col-xs-12">
        <form enctype="multipart/form-data" id="addPost">
            <div class="form-group col-xs-8">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="form-group col-xs-8">
                <label for="text">Text</label>
                <textarea class="form-control" id="text" placeholder="Enter text"></textarea>
            </div>
            <div class="col-xs-8  form-end">
                <label for="image_url">Image</label>
                <input type="file" id="image_url">
            </div>
            <div class="form-group col-xs-8">
                <button type="button" class="btn btn-success" onclick="addPost()">Add blog post</button>
            </div>
        </form>
    </div>

    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
