<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blog App | {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"  />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.css" media="all" type="text/css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.brighttheme.min.css" media="all" type="text/css" />
        {% endblock %}
    <style>
        ul#menu li {
            display:inline;
            font-size: medium;
            margin-top: 25px;
        }
    </style>
</head>
<header>
    <ul id="menu">
        <li><a href="/">Home | </a></li>
        {% if isLoggedIn %}
            <li><a href="/add-blog-post">Add blog post | </a></li>
        {% endif %}
        {% if isLoggedIn %}
            <li><a href="/logout">Logout | </a></li>
        {% endif %}
        {% if isLoggedIn %}
            <li><a href="/admin">Manage posts</a></li>
        {% endif %}
        {% if not isLoggedIn %}
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
</header>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js' type='text/javascript'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pnotify/3.0.0/pnotify.min.js"></script>
    <script type="text/javascript" src="public/js/blogManager.js"></script>
{% endblock %}
</body>
</html>
