{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Login
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Login</h4>
    <div id="parent" class="col-xs-4">
        <form enctype="multipart/form-data" id="login">
            <div class="form-group col-xs-8">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group col-xs-8">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <div class="form-group col-xs-8 form-end">
                <button type="button" class="btn btn-success" onclick="userLogin()">Login</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
