{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Manage posts
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Manage post</h4>
    {% if blogPosts is empty %}
    <span>Currently there are no posts!</span>
    {% else %}
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Text</th>
                    <th scope="col">Last updated</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                {% for post in blogPosts %}
                    <tr id="{{ post.id  }}">
                        <td>
                            <input type="text" class="form-control" id="title-{{ post.id }}" value="{{ post.title }}">
                        </td>
                        <td>
                            <textarea name="text" id="text-{{ post.id }}" form="form-control" >{{ post.text }}</textarea>
                        </td>
                        <td>
                            <input type="text" class="form-control" id="last-updated-{{ post.id }}" value="{{ post.updated_at }}">
                        </td>
                        <td>
                            <input type="text" class="form-control" id="created-at-{{ post.id }}" value="{{ post.created_at }}">
                        </td>
                        <td>
                            <button type="button" class="btn btn-link glyphicon glyphicon-pencil"><a href="/edit-blog-post?id={{ post.id }}" target="_blank">Edit</a></button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
